body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container {
    display:flex;
    flex-direction: column;
    background-color: black;
    width:30vw;
    height:30vw;
    padding:0;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.button-div {
    margin-top: auto;
    padding-bottom: 25px;
}

.pixel-container {
    width:24vw;
    height:24vw;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.pixel-div {
    width: 1vw;
    height: 1vw;
}